<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/static/damso.css">
</head>

<body>
    <nav class="navbar">
        <ul class="nav-menu">
            <li> <a href="index.html"><img src="/static/spotify-svgrepo-com.svg" alt="Logo Spotify"
                        class="svgspotify"></a></li>
            <li><a href="/track/laylow" class="nav-links">Maladresse - Laylow</a></li>
        </ul>
    </nav>


    <div class="albums">
        <h1>Albums de Damso</h1>
        <div class="listedamso">

            {{ range .Albums }}
            <div class="albumunique" style="background: #333; padding: 20px; border-radius: 10px; width: 200px;">
                <img src="{{ .ImageUrl }}" alt="Cover de l'album" class="coverimage">
                <h2>{{ .Name }}</h2>
                <p>Sortie le : {{ .ReleaseDate }}</p>
                <p>{{ .TotalTracks }} titres</p>
            </div>
            {{ end }}

        </div>
    </div>
</body>

</html>