* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #1c1c1c;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.07);
  z-index: 100;
  background: #343434;
  background: linear-gradient(90deg, rgb(39, 39, 39) 0%, rgb(0, 0, 0) 100%);
}

.nav-menu {
  display: flex;
  list-style: none;
  gap: 20px;
  align-items: center;
}

.nav-menu li {
  text-transform: uppercase;
  font-weight: bold;
}

.nav-links {
  color: #fff;
  text-decoration: none;
  padding: 10px 18px;
  border-radius: 8px;
  border-bottom: 3px solid transparent;
  transition: all 0.3s ease;
}

.nav-links:hover {
  background-color: #1db954;
  color: #000000;
  border-bottom: 3px solid #1db954;
  transform: scale(1.08);
}

.svgspotify {
  z-index: 101;
  position: relative;
  width: 50px;
}

.svgspotify:hover {
  transform: scale(1.08);
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 150px;
  position: relative;
}

.infos {
  display: flex;
  flex-direction: column;
  background-color: #1db954;
  text-align: center;
  height: 250px;

  border-radius: 15px;
  justify-content: center;
  align-items: center;
}

.maladresse {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}
.imagelaylow {
  height: 250px;
  width: 250px;
  border-radius: 15px;
}
.lecteur {
  margin-top: 20px;
}

.container {
  flex-direction: column;
}
