* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.07);
  z-index: 100;
  background: #343434; /* Couleur de secours */
  background: linear-gradient(90deg, rgb(39, 39, 39) 0%, rgb(0, 0, 0) 100%);
  border-bottom: white solid 1px;
}

.nav-menu {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-menu li {
  text-transform: uppercase;
  font-weight: bold;
}

.nav-links {
  color: #fff;
  text-decoration: none;
  padding: 10px 18px;
  border-radius: 8px;
  border-bottom: 3px solid transparent;
  transition: all 0.3s ease;
}

.nav-links:hover {
  background-color: #ffd700;
  color: #1976d2;
  border-bottom: 3px solid #ffd700;
  transform: scale(1.08);
}

.svgspotify {
  z-index: 101;
  position: relative;
  width: 50px;
}
